.update-name-and-occupation-con {
    width: 100%;
}

.update-name-and-occupation {
    width: 70%;
    background-color: white;
    margin: 0 auto;
}

.nav-bar-updating {
    display: flex;
    justify-content: space-between;
}

.updating-logo {
    color: #3CB371;
    font-family: 'Cinzel Decorative', 'Amita', 'Ms Madi', cursive;
}

.what-are-you-updating {
    font-family: 'Carter One', system-ui;
}

.updating-details-Name-occupation {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.updating-details-Name-occupation input {
    width: 60%;
    height: 25px;
    margin: 0 auto;
    margin-top: 25px;
    font-family: 'Carter One', system-ui;
    border: 2px solid #3CB371;
    border-radius: 5px;
}

.updating-details-Name-occupation button {
    background-color: #3CB371;
    color: white;
    border: none;
    border-radius: 7px;
    width: 80px;
    height: 25px;
    margin: 0 auto;
    margin-top: 25px;
    font-weight: bold;
    cursor: pointer;
}

@media all and (max-width: 1024px) {
    .update-name-and-occupation {
        width: 100%;
    }
}


@media all and (max-width: 700px) and (min-width: 631px) {
    .what-are-you-updating {
        font-size: x-large;
    }
}


@media all and (max-width: 631px) and (min-width: 557px) {
    .update-name-and-occupation {
        width: 100%;
    }
    .updating-details-Name-occupation input {
        width: 100%;
    }
    .what-are-you-updating {
        font-size: x-large;
    }
}

@media all and (max-width: 557px) and (min-width: 481px) {
    .update-name-and-occupation {
        width: 100%;
    }
    .updating-details-Name-occupation input {
        width: 100%;
    }
    .what-are-you-updating {
        font-size: x-large;
    }
}


@media all and (max-width: 481px) {
    .update-name-and-occupation {
        width: 100%;
    }
    .updating-details-Name-occupation input {
        width: 100%;
    }
    .what-are-you-updating {
        font-size: large;
    }
}

@media all and (max-width: 441px) {
    .update-name-and-occupation {
        width: 100%;
    }
    .updating-details-Name-occupation input {
        width: 100%;
    }
    .what-are-you-updating {
        font-size: large;
    }
}


@media all and (max-width: 366px) {
    .update-name-and-occupation {
        width: 100%;
    }
    .updating-details-Name-occupation input {
        width: 100%;
    }
    .updating-logo {
        font-size: x-large;
    }
    .what-are-you-updating {
        font-size: medium;
    }
}