.delete-experience-page-con {
    width: 100%;
}

.delete-experience-page {
    width: 70%;
    margin: 0 auto;
}

.nav-bar-delete {
    display: flex;
    justify-content: space-between;
}

.delete-logo {
    color: #3CB371;
    font-family: 'Cinzel Decorative', 'Amita', 'Ms Madi', cursive;
}

.what-are-you-delete {
    font-family: 'Carter One', system-ui;
}

.delete-experience-details {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
    width: 40%;
    border: 2px solid #ccc;
    border-radius: 7px;
}

.delete-experience-details p {
    margin-top: 10px;
}

.delete-experience-details form input {
    width: 60%;
    height: 25px;
    margin: 0 auto;
    margin-top: 25px;
    font-family: 'Carter One', system-ui;
    border: 2px solid #3CB371;
    border-radius: 5px;
}

.delete-experience-buttons button {
    background-color: #3CB371;
    color: white;
    border: none;
    border-radius: 7px;
    width: 80px;
    height: 25px;
    margin: 0 auto;
    margin-top: 25px;
    font-weight: bold;
    cursor: pointer;
}

.delete-experience-buttons button:nth-child(1) {
    margin-right: 10px;
    background-color: gray;
}

.delete-experience-buttons button:nth-child(2) {
    margin-left: 10px;
}

.delete-experience-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}


@media all and (max-width: 1279px) and (min-width: 1025px) {
    .delete-experience-details {
        width: 60%;
    }   
}


@media all and (max-width: 1024px) and (min-width: 878px) {
    .delete-experience-details {
        width: 70%;
    }
}

@media all and (max-width: 877px) and (min-width: 768px) {
    .delete-experience-details {
        width: 90%;
    }
}


@media all and (max-width: 767px) and (min-width: 631px) {
    .delete-experience-details {
        width: 90%;
    }
}

@media all and (max-width: 631px) and (min-width: 557px) {
    .delete-experience-details {
        width: 90%;
    }
}

@media all and (max-width: 556px) and (min-width: 481px) {
    .delete-experience-details {
        width: 90%;
    }
}


@media all and (max-width: 481px) {
    .delete-experience-page {
        width: 100%;
        margin: 0 auto;
    }
    .delete-experience-details {
        width: 90%;
    }
    .what-are-you-delete {
        font-size: x-large;
    }
}