@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


#education {
    text-align: center;
    position: relative;
    top: 50px;
    font-family: 'Amita', cursive;
    font-family: 'Carter One', system-ui;
}

.education-container {
    margin-top: 100px;
}

.add-education {
    background-color: white;
    border: 2px solid #3CB371;
    color: #3CB371;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 40px;
    width: max-content;
    height: 40px;
}

.add-education:hover {
    background-color: #3CB371;
    color: white;
    cursor: pointer;
}

.add-education:active {
    background-color: #3CB371;
    color: white;
    cursor: pointer;
}

.kokoko {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.update-education {
    background-color: #3CB371;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 15px;
}

.delete-education {
    background-color: red;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.loading-education-user {
    text-align: center;
    margin-top: 100px;
}

@media all and (max-width: 1279px) and (min-width: 1025px) {
    #con {
        width: 80%;
    }
}


@media all and (max-width: 1024px) and (min-width: 878px) {
    #con {
        width: 100%;
    }
}

@media all and (max-width: 877px) and (min-width: 768px) {
    #con {
        width: 100%;
    }
}


@media all and (max-width: 767px) and (min-width: 631px) {
    #con {
        width: 100%;
    }
}


@media all and (max-width: 631px) and (min-width: 557px) {
    #con {
        width: 100%;
    }
}

@media all and (max-width: 556px) and (min-width: 481px) {
    #con {
        width: 100%;
    }
}


@media all and (max-width: 481px) {
    #con {
        width: 100%;
    }
    .education-details h1 {
        font-size: large;
    }
    .education-details h3 {
        font-size: medium;
    }
}

@media all and (max-width: 441px) {
}


@media all and (max-width: 366px) {
}