@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita&family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

* {
    margin: 0;
}

*::selection{
    color: gray;
}

#all-con {
    width: 100%;
    height: 100vh;
}

#con {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

#UI {
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

/*
@media all and (max-width: 1279px) and (min-width: 1025px) {
    #con {
        width: 80%;
    }
}


@media all and (max-width: 1024px) and (min-width: 878px) {
    #con {
        width: 100%;
    }
}

@media all and (max-width: 877px) and (min-width: 768px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-image-ibrahim {
        margin: 0 auto;
    }
    .submit {
        width: 30%;
    }
}


@media all and (max-width: 767px) and (min-width: 631px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-image-ibrahim {
        margin: 0 auto;
    }
    .about-me-description {
        margin-left: 10px;
    }
    .submit {
        width: 30%;
    }
}


@media all and (max-width: 631px) and (min-width: 557px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-image-ibrahim {
        margin: 0 auto;
    }
    .about-me-description {
        margin-left: 10px;
    }
    .home-img-con {
        display: none;
    }
    .about-me {
        margin-top: 120px;
    }
    .skills {
        display: flex;
        justify-content: space-evenly;
    }
    .skills-section-one {
        display: flex;
        flex-direction: column;
    }
    .css {
        margin-top: 20px;
    }
    .sass {
        margin-top: 20px;
    }
    .javascript {
        margin-top: 20px;
    }
    .react {
        margin-top: 20px;
    }
    .skills-section-two {
        display: flex;
        flex-direction: column;
    }
    .submit {
        width: 30%;
    }
}

@media all and (max-width: 556px) and (min-width: 481px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-image-ibrahim {
        margin: 0 auto;
    }
    .about-me-description {
        margin-left: 10px;
    }
    .home-img-con {
        display: none;
    }
    .about-me {
        margin-top: 120px;
    }
    .nav a {
       padding: 10px;
    }
    .nav h1 {
        padding: 5px;
    }
    .about-me {
        margin-top: 150px;
    }
    .skills {
        display: flex;
        justify-content: space-evenly;
    }
    .skills-section-one {
        display: flex;
        flex-direction: column;
    }
    .css {
        margin-top: 20px;
    }
    .sass {
        margin-top: 20px;
    }
    .javascript {
        margin-top: 20px;
    }
    .react {
        margin-top: 20px;
    }
    .skills-section-two {
        display: flex;
        flex-direction: column;
    }
    .submit {
        width: 38%;
    }
}


@media all and (max-width: 481px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-me-description {
        margin-left: 10px;
    }
    .home-img-con {
        display: none;
    }
    .about-me {
        margin-top: 120px;
    }
    .about-me-description h3 {
        font-size: medium;
    }
    .nav a {
       padding: 5px;
       font-size: medium;
    }
    .nav h1 {
        padding: 0;
        font-size: x-large;
    }
    .about-me {
        margin-top: 300px;
    }
    .about-image-ibrahim {
        margin-left: 0;
    }
    .skills {
        display: flex;
        justify-content: space-evenly;
    }
    .skills-section-one {
        display: flex;
        flex-direction: column;
    }
    .css {
        margin-top: 20px;
    }
    .sass {
        margin-top: 20px;
    }
    .javascript {
        margin-top: 20px;
    }
    .react {
        margin-top: 20px;
    }
    .skills-section-two {
        display: flex;
        flex-direction: column;
    }
    .form {
        width: 95%;
    }
    .submit {
        width: 30%;
    }
}

@media all and (max-width: 441px) {
    .developer {
        font-size: large;
    }
}


@media all and (max-width: 366px) {
    .nav h1 {
        font-size: x-large;
    }
    .nav a {
        padding: 5px;
        font-size: small;
    }
    .home-info {
        margin-left: 30px;
    }
}


.home {
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.home-info {
    margin-left: 50px;
}

.home h4 {
    color: #3CB371;
    font-family: 'Crimson Text', serif;
    margin: 10px;
}

.home h1 {
    font-family: 'Cinzel', serif;
    color: black;
    font-size: xx-large;
    font-weight: bold;
}

.home h3 {
    margin: 10px;
    font-family: 'Amiri', serif;
}

.home-img-con {
    width: 350px;
    height: 350px;
    position: relative;
    bottom: 120px;
}

.ibrahim-hello-img {
    width: 100%;
    height: 100%;
}

.update-name-occupation {
    background-color: #3CB371;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

@media all and (max-width: 1279px) and (min-width: 1025px) {
    #con {
        width: 80%;
    }
}


@media all and (max-width: 1024px) and (min-width: 878px) {
    #con {
        width: 100%;
    }
}

@media all and (max-width: 877px) and (min-width: 768px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-image-ibrahim {
        margin: 0 auto;
    }
    .submit {
        width: 30%;
    }
}


@media all and (max-width: 767px) and (min-width: 631px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-image-ibrahim {
        margin: 0 auto;
    }
    .about-me-description {
        margin-left: 10px;
    }
    .submit {
        width: 30%;
    }
}


@media all and (max-width: 631px) and (min-width: 557px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-image-ibrahim {
        margin: 0 auto;
    }
    .about-me-description {
        margin-left: 10px;
    }
    .home-img-con {
        display: none;
    }
    .about-me {
        margin-top: 120px;
    }
    .skills {
        display: flex;
        justify-content: space-evenly;
    }
    .skills-section-one {
        display: flex;
        flex-direction: column;
    }
    .css {
        margin-top: 20px;
    }
    .sass {
        margin-top: 20px;
    }
    .javascript {
        margin-top: 20px;
    }
    .react {
        margin-top: 20px;
    }
    .skills-section-two {
        display: flex;
        flex-direction: column;
    }
    .submit {
        width: 30%;
    }
}

@media all and (max-width: 556px) and (min-width: 481px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-image-ibrahim {
        margin: 0 auto;
    }
    .about-me-description {
        margin-left: 10px;
    }
    .home-img-con {
        display: none;
    }
    .about-me {
        margin-top: 120px;
    }
    .nav a {
       padding: 10px;
    }
    .nav h1 {
        padding: 5px;
    }
    .about-me {
        margin-top: 150px;
    }
    .skills {
        display: flex;
        justify-content: space-evenly;
    }
    .skills-section-one {
        display: flex;
        flex-direction: column;
    }
    .css {
        margin-top: 20px;
    }
    .sass {
        margin-top: 20px;
    }
    .javascript {
        margin-top: 20px;
    }
    .react {
        margin-top: 20px;
    }
    .skills-section-two {
        display: flex;
        flex-direction: column;
    }
    .submit {
        width: 38%;
    }
}


@media all and (max-width: 481px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-me-description {
        margin-left: 10px;
    }
    .home-img-con {
        display: none;
    }
    .about-me {
        margin-top: 120px;
    }
    .about-me-description h3 {
        font-size: medium;
    }
    .nav a {
       padding: 5px;
       font-size: medium;
    }
    .nav h1 {
        padding: 0;
        font-size: x-large;
    }
    .about-me {
        margin-top: 300px;
    }
    .about-image-ibrahim {
        margin-left: 0;
    }
    .skills {
        display: flex;
        justify-content: space-evenly;
    }
    .skills-section-one {
        display: flex;
        flex-direction: column;
    }
    .css {
        margin-top: 20px;
    }
    .sass {
        margin-top: 20px;
    }
    .javascript {
        margin-top: 20px;
    }
    .react {
        margin-top: 20px;
    }
    .skills-section-two {
        display: flex;
        flex-direction: column;
    }
    .form {
        width: 95%;
    }
    .submit {
        width: 30%;
    }
}

@media all and (max-width: 441px) {
    .developer {
        font-size: large;
    }
}


@media all and (max-width: 366px) {
    .nav h1 {
        font-size: x-large;
    }
    .nav a {
        padding: 5px;
        font-size: small;
    }
    .home-info {
        margin-left: 30px;
    }
}
*/

@media all and (max-width: 1279px) and (min-width: 1025px) {
    #con {
        width: 80%;
    }
}


@media all and (max-width: 1024px)  {
    #con {
        width: 100%;
    }
}

@media all and (max-width: 877px) and (min-width: 768px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-image-ibrahim {
        margin: 0 auto;
    }
    .submit {
        width: 30%;
    }
}


@media all and (max-width: 767px) and (min-width: 631px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-image-ibrahim {
        margin: 0 auto;
    }
    .about-me-description {
        margin-left: 10px;
    }
    .submit {
        width: 30%;
    }
}


@media all and (max-width: 631px) and (min-width: 557px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-image-ibrahim {
        margin: 0 auto;
    }
    .about-me-description {
        margin-left: 10px;
    }
    .home-img-con {
        display: none;
    }
    .about-me {
        margin-top: 120px;
    }
    .submit {
        width: 30%;
    }
}

@media all and (max-width: 556px) and (min-width: 481px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-image-ibrahim {
        margin: 0 auto;
    }
    .about-me-description {
        margin-left: 10px;
    }
    .home-img-con {
        display: none;
    }
    .about-me {
        margin-top: 120px;
    }
    .submit {
        width: 38%;
    }
}


@media all and (max-width: 481px) {
    #con {
        width: 100%;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-me-description {
        margin-left: 10px;
    }
    .home-img-con {
        display: none;
    }
    .about-me {
        margin-top: 120px;
    }
    .about-me-description h3 {
        font-size: medium;
    }
    .about-me {
        margin-top: 300px;
    }
    .about-image-ibrahim {
        margin-left: 0;
    }
    .form {
        width: 95%;
    }
    .submit {
        width: 30%;
    }
}

@media all and (max-width: 441px) {
}


@media all and (max-width: 366px) {
    .home-info {
        margin-left: 30px;
    }
}